<div class="item">
  <input
    type="checkbox"
    (change)="isDone()"
    [id]="todo().description"
    [checked]="todo().done"
  />
  <label [for]="todo().description">{{ todo().description }}</label>

  @if (!isEdit()) {
  <div class="btn-wrapper">
    <button class="btn" (click)="setEdit(!isEdit())">Edit</button>
    <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
  </div>
  }@else {
  <div>
    <input
      type="text"
      [value]="todo().description"
      class="sm-text-input"
      #todoEdit
    />
    <div class="btn-wrapper">
      <button class="btn" (click)="setEdit(!isEdit())">Cancel</button>
      <button
        class="btn btn-save"
        (click)="
          saveEdit({
            id: todo().id,
            description: todoEdit.value,
            done: todo().done
          })
        "
      >
        Save
      </button>
    </div>
  </div>
  }
</div>
